<footer class="main-footer">
    <strong th:text="#{footer.copy}"></strong>
    <span th:text="#{footer.rights}"></span>
    <br>
    <span>
        <span th:text="#{footer.contact}"></span>
        <a href="mailto:support@expensemanager.com">support@expensemanager.com</a>
        |
        <a href="#" th:text="#{footer.privacy}"></a>
        |
        <a href="#" th:text="#{footer.terms}"></a>
    </span>

    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
